<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="shortcut icon" href="https://img.icons8.com/doodle/2x/ipod-old--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&family=Ubuntu+Condensed&display=swap"
        rel="stylesheet">

    <style>
        th,
        td,
        p,
        input {
            font-family: 'Encode Sans Semi Condensed', sans-serif;
            font-family: 'Ubuntu Condensed', sans-serif;
        }

        th {
            font-size: 30px;
        }

        table,
        td {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
            font-family: 'Encode Sans Semi Condensed', sans-serif;
            font-family: 'Ubuntu Condensed', sans-serif;
        }

        body {

            font-family: 'Encode Sans Semi Condensed', sans-serif;
            font-family: 'Ubuntu Condensed', sans-serif;
            font-size: 25px
        }
    </style>

</head>


<body class="responsive">

    <nav class="navbar navbar-dark" style="background-color: #000000;">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><i class="bi bi-music-player-fill"></i><b> VAULT</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/login">LOGIN/SIGN UP<span class="sr-only"></span></a>
                <a class="nav-item nav-link active" href="/music">SONGS VAULT</a>
            </div>
        </div>
    </nav>
    <br>
    <center>

        <h3><b>PLAYING FROM YOUR PLAYLIST</b></h3>
        <div id="image"></div><br>
        <i class="bi bi-spotify"></i>
        <div id="text"><b></b></div>
        <div id="artist"><b></b></div><br>
        <i class="bi bi-skip-backward" id="link1" type="button" onclick="previous()" style="text-decoration: none;"></i>

        <button id="link2" type="button" class="btn btn-primary" style="text-decoration: none;color:white"></button>

        <i class="bi bi-skip-forward" id="link3" type="button" onclick="next()" s style="text-decoration: none;"></i>

    </center>



    <script type="text/javascript">

        fetch("https://ajay2304.github.io/json/calm.html")
            .then(Response => Response.json())
            .then(song_id_image => {
                
                song_id_image = song_id_image
                
            });
        print(song_id_image)
        var j = 0;
        var k = song_id_image.length - 1;
        function next() {

            document.getElementById("image").innerHTML = "<img src=" + song_id_image[1 + j].Track + " class=rounded mx-auto d-block>";
            document.getElementById("text").innerHTML = song_id_image[1 + j].Name;
            document.getElementById("artist").innerHTML = "SINGER: " + song_id_image[1 + j].Artist;
            document.getElementById("link2").innerHTML = "<a href=" + song_id_image[1 + j].uri + " target=_blank style=text-decoration:none;color:white>PLAY</a>";
            j = j + 1

        }

        function previous() {


            document.getElementById("image").innerHTML = "<img src=" + song_id_image[j].Track + " class=rounded mx-auto d-block>";
            document.getElementById("text").innerHTML = song_id_image[j].Name;
            document.getElementById("artist").innerHTML = "Singer: " + song_id_image[j].Artist;
            document.getElementById("link2").innerHTML = "<a href=" + song_id_image[j].uri + " target=_blank style=text-decoration:none;color:white>PLAY</a>";
            j = j - 1;
            if (j == -1) {
                j = 0;
            }

        }

        document.getElementById("image").innerHTML = "<img src=" + song_id_image[0].Track + " class=rounded mx-auto d-block>";
        document.getElementById("text").innerHTML = song_id_image[0].Name;
        document.getElementById("artist").innerHTML = "Singer: " + song_id_image[0].Artist;
        document.getElementById("link1").innerHTML = "<a style=text-decoration:none;color:white onclick=previous()></a>";
        document.getElementById("link2").innerHTML = "<a href=" + song_id_image[0].uri + " target=_blank style=text-decoration:none;color:white>PLAY</a>";
        document.getElementById("link3").innerHTML = "<a style=text-decoration:none;color:black></a>";

        





    </script>


    </script>